.movie-card{
  width: 250px;
  height: auto;
  border: 2px groove blue;
  border-radius: 10px;
  display:flex;
  background-color: honeydew
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
