<hr>
<div style="margin-right:auto; margin-left:auto;">
  <h1 style="text-align:center">About Us</h1>
</div>
<hr>

<div class="container" style="display:inline-flex">
  <div>
    <img src="/assets/aboutus.png" width="600" height="auto" alt ="https://www.looper.com/img/gallery/98-best-movies-of-all-time/intro-1680555869.jpg">
  </div>
  <div class="about-us">
    <p>
      Movie Mavens is a free to use progressive web app done for a project under NUS ISS.
    </p>
    <p>
      For the introspective individual as well as the socializer, you can now review movies you have watched and keep them under one repository to look back on and share with your friends.
    </p>
    <p>
      Through us, we hope to evoke greater afterthought from the movies you watch and enhance that experience further.
    </p>
  </div>
</div>







