<mat-toolbar color="warn" class="navbar">
  <span>
    <a mat-button [routerLink]="['/home']">Movie Mavens</a>
  </span>

  <div class="spacer"></div>

  <a mat-button [routerLink]="['/about']">About</a>
  <a mat-button [routerLink]="['/contact']">Contact</a>
  <a mat-button [routerLink]="['/popular']">What's Popular</a>
  <a mat-button [routerLink]="['/playing']">Playing Now</a>
  <a mat-button [routerLink]="['/top']">Top Rated</a>
  <a mat-button [routerLink]="['/trending']">Trending</a>
  <a mat-button [routerLink]="['/upcoming']">Upcoming</a>
  <a mat-button [routerLink]="['/reviews']">Reviews</a>
  <a mat-button [routerLink]="['/user']">Profile</a>

</mat-toolbar>

